@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

img {
    max-width: 100%;
}

.header {
    padding: 25px;
}

.header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header_list {
    display: flex;
    gap: 30px;
}

.header_list a {
    display: inline-block; 
    padding: 5px 12px;     
    border: 2px solid transparent;
    border-radius: 50px;
    transition: 0.3s;
}

.header_list a:hover {
    border: 2px solid #f6762c;
    color: #f6762c;
}

.header_list a.active {
    border: 2px solid white;
}

.container {
    box-sizing: border-box;

    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;

   font-weight: 500;
   font-size: 16px;

   width: 155px;
   height: 40px;

   background: #f6762c;
   border-radius: 50px;

   border: 2px solid transparent;
   transition: all 0.3s ease;
}

.btn:hover {
    border: 2px solid white;
}

.btn-small {
    width: 140px;
    height: 40px;
    font-size: 12px;
}

 /* *Приветсвенная секция */
.welcome {
    box-sizing: border-box;
    min-height: 100vh;

    margin-top: -100px;
    padding: 240px 0;

    background-image: url(./images/welcome-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome_text {
    width: 550px;
}

.welcome_subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 10%;
}

.welcome_title {
    font-size: 58px;
}

.welcome_desc {
    margin: 40px 0;
    font-size: 18px;
    opacity: 0.7;
}

/* *Фуд лист */

.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list_card {
   max-width: 260px;

   overflow: hidden;
   text-align: center;

   background: #312f30;
   border-radius: 30px;

   transition: transform 0.3s ease;
}

.food-list_card:hover {
   transform: scale(1.05);
   box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.food-list_img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list_text-wrapper {
    padding: 30px 20px;
}

.food-list_title {
    font-size: 20px;
    margin-bottom: 15px;
}

.food-list_desc {
    font-size: 16px;
    opacity: 0.7;
}

/* order */
.order {
    background: #312f30;
    padding: 60px 0;
}

.order .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 90px;
}

.order_img {
    min-width: 470px;
}

.order_text {
    max-width: 360px;
}

.order_title {
    margin-bottom: 25px;
    font-size: 44px;
}

.order_desc {
    margin-bottom: 15px;
    opacity: 0.7;
}

.order_price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.order_old-price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #f6762c;

    text-decoration-line: line-through;
    opacity: 0.5;
}

.order .btn {
    margin-top: 10px;
}

/* *Карточки продуктов */

.product {
    padding: 150px;
}

.product .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.product_card {
    box-sizing: border-box;

    width: 550px;
    min-height: 300px;

    padding: 60px 20px 60px 290px;

    background-color: #312f30;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transition: transform 0.3s ease;
    border-radius: 30px;
}

.product_card:hover {
    transform: scale(1.05);
   box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.product_card:nth-child(even) {
    padding-left: 30px;
    padding-right: 290px;
}

.product_title {
    font-size: 30px;
    margin-bottom: 20px;
}

.product_desc {
    margin-bottom: 10px;
    opacity: 0.7;
}

.product_price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.product_price + .product_price {
    margin-left: 5px;
}

.product_old-price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #f6762c;

    text-decoration-line: line-through;
    opacity: 0.5;
}

.product .btn {
    margin-top: 10px;
}

.card-queen {
    background-image: url(./images/product-1.jpg);
}

.card-pizza {
    background-image: url(./images/product-2.jpg);
}

.card-burger {
    background-image: url(./images/product-3.jpg);
}

.card-johns {
    background-image: url(./images/product-4.jpg);
}

/**feedback*/

.feedback {
    padding-bottom: 200px;
}
.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 880px;
}

.feedback_text {
    margin: 0;
    width: 370px;
    text-align: center;
}

.feedback_text::before {
    content: url(./images/icons/quote.svg);
}

.feedback_desc {
    opacity: 0.7;
    margin: 30px 0;
}

.feedback_author {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.feedback_subauthor {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;

    display: block;
}

/* download */

.download {
    padding: 60px 0;
    background-color: #312f30;
}

.download .container {
    display: flex;
    justify-content: space-around;
}

.download_title {
    font-weight: 500;
    font-size: 40px;
}

/* *footer */

.footer {
    padding: 120px 0;
}

.footer a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.footer .footer_title {
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_logo {
    width: 70px;
    margin-bottom: 20px;
}

.footer_link {
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer_link + .footer_link {
    margin-top: 10px;   
}

.footer_link::before {    
    width: 12px;
    height: 12px;
}
.footer_link-mail::before {
    content: url(./images/icons/mail.svg);
}
.footer_link-web::before {
    content: url(./images/icons/global.svg);
}

.footer_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer_list-item + .footer_list-item {
    margin-top: 15px;
}

.footer_socials-link + .footer_socials-link {
    margin-left: 8px;
}
